body 
{
    font-family: Verdana, Geneva, sans-serif; 
    background-color: whitesmoke;
    margin-left: 20px;
}
  
h1 
{
    font-size: 36px;
    font-weight: bold;
    color: navy;
}

h2 
{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

p.normal
{
    font-size: 24px;
    font-weight: normal;
}

.caption
{
    font-size: 18px;
    font-style: italic;
    color: black;
    background-color: lightgray;
    width: 560px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
